<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>
<body>
<main>
    <h1 class="inventory_title">Inventory</h1>
    <section class="parent">

        <div class="card">
            <h3>Aged Brie</h3>
            <h4>Sell In:2</h4>
            <h4>Quality: 0</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>+5 Dexterity Vest</h3>
            <h4>Sell In: 10</h4>
            <h4>Quality: 20</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Elixir of the Mongoose</h3>
            <h4>Sell In: 5</h4>
            <h4>Quality: 7</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Sulfuras, Hand of Ragnaros</h3>
            <h4>Sell In: 0</h4>
            <h4>Quality: 80</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Sulfuras, Hand of Ragnaros</h3>
            <h4>Sell In: -1</h4>
            <h4>Quality: 80</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Backstage passes to a TAFKAL80ETC concert</h3>
            <h4>Sell In: 15</h4>
            <h4>Quality: 20</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Backstage passes to a TAFKAL80ETC concert</h3>
            <h4>Sell In: 10</h4>
            <h4>Quality: 49</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Backstage passes to a TAFKAL80ETC concert</h3>
            <h4>Sell In: 5</h4>
            <h4>Quality: 49</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

        <div class="card">
            <h3>Conjured Mana Cake</h3>
            <h4>Sell In: 3</h4>
            <h4>Quality: 6</h4>
            <img src="../static/images/robot.svg" alt="Robot">
        </div>

    </section>
</main>
</body>
</html>
